.tabBorderBox {
  position: relative;
  width: 140px;
  background: rgba(0, 37, 63, 0.2);
  border: 1px solid rgba(0, 149, 255, 0.2);
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0.5;
  &:hover,&.active {
    background-color: #0e324a;
    color: rgb(109 215 224);
    opacity: 1;
  }
}
.tabBorderBoxCorner {
  z-index: 1;
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid rgb(109 215 224);
}
.tabBorderBoxCorner:nth-of-type(1) {
  top: 0;
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}
.tabBorderBoxCorner:nth-of-type(2) {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}
.tabBorderBoxCorner:nth-of-type(3) {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}
.tabBorderBoxCorner:nth-of-type(4) {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}
