
.container {
    height: 24px;
    border: 1px solid #2942ae;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
}
.icon.ok {
    background: url("../../../../public/flow/ok.svg") no-repeat center;
    background-size: contain;
}

.icon.smile {
    background: url("../../../../public/flow/emoji-smile.svg") no-repeat center;
    background-size: contain;
}

.icon.default {
    background: url("../../../../public/flow/default-c.png") no-repeat center;
    background-size: contain;
}

.icon.success {
    background: url("../../../../public/flow/success-c.png") no-repeat center;
    background-size: contain;
}

.icon.failed {
    background: url("../../../../public/flow/failed-c.png") no-repeat center;
    background-size: contain;
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: #2942ae;
}
