.subTabBorderBox {
  position: relative;
  padding: 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(109 215 224/50%) 0%,
    transparent 30%,
    transparent 60%,
    rgb(109 215 224/50%) 100%
  );
  clip-path: polygon(
    6px 0,
    calc(100% - 6px) 0,
    100% 6px,
    100% calc(100% - 6px),
    calc(100% - 6px) 100%,
    6px 100%,
    0 calc(100% - 6px),
    0 6px
  );
}
.subTabBorderBoxWrap {
  position: relative;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  &:hover,
  &.active {
    opacity: 1;
    color: rgb(109 215 224);
  }
  &::before {
    content: '';
    position: absolute;
    width: 60px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgb(109 215 224/80%) 50%,
      transparent 100%
    );
    top: 0;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    width: 60px;
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgb(109 215 224/80%) 50%,
      transparent 100%
    );
    bottom: 0;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.subTabBorderBox1 {
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgb(109 215 224);
  top: 0;
  transform: rotate(-45deg);
  left: -2px;
}
.subTabBorderBox2 {
  position: absolute;
  width: 16px;
  height: 2px;
  background: linear-gradient(90deg, rgb(109 215 224/80%) 0%, transparent 100%);
  top: -3px;
  left: 6px;
}

.subTabBorderBox3 {
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgb(109 215 224);
  top: 0;
  transform: rotate(45deg);
  right: -2px;
}
.subTabBorderBox4 {
  position: absolute;
  width: 16px;
  height: 2px;
  background: linear-gradient(90deg, transparent 0%, rgb(109 215 224/80%) 100%);
  top: -3px;
  right: 6px;
}
.subTabBorderBox5 {
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgb(109 215 224);
  bottom: 0;
  transform: rotate(45deg);
  left: -2px;
}
.subTabBorderBox6 {
  position: absolute;
  width: 16px;
  height: 2px;
  background: linear-gradient(90deg, rgb(109 215 224/80%) 0%, transparent 100%);
  bottom: -3px;
  left: 6px;
}

.subTabBorderBox7 {
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgb(109 215 224);
  bottom: 0;
  transform: rotate(-45deg);
  right: -2px;
}
.subTabBorderBox8 {
  position: absolute;
  width: 16px;
  height: 2px;
  background: linear-gradient(90deg, transparent 0%, rgb(109 215 224/80%) 100%);
  bottom: -3px;
  right: 6px;
}
