.container {
    min-height: 40px;
    border: 1px solid #28fffe;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.container.TEXT {
    border-color: #d75d00;
}

.container.POPOVER {
    border-color: #8be6a5;
}

.container.success {
    border-color: #51cb76;
}

.icon {
    width: 24px;
    height: 24px;
}


.icon.default {
    background: url("../../../../public/flow/default-c.png") no-repeat center;
    background-size: contain;
}

.icon.success {
    background: url("../../../../public/flow/success-c.png") no-repeat center;
    background-size: contain;
}



.label {
    font-size: 14px;
    color: #fff;
}
